.slide {
  &-image {
    display: none;
  }
}

@keyframes show {
  from {
    transform: translateX(20px);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.block {
  display: block;
  animation: show 1s ease;

  @include desktop {
    display: none;
  }
}

.pagination-circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #e0e0e0;
}

.active {
  background-color: #1a5a4c;
}

.gallery__slider {
  display: flex;
  column-gap: 25px;
}
